.section {
  @media screen and (min-width: 1200px) {
    background-color: #f4f4f4;
  }
}

.main__title {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #635c73;
    margin-bottom: 30px;
    margin-top: 120px;
  }
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 40px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 55px;
    line-height: 55px;
  }
}

.main__text {
  @media screen and (min-width: 320px) {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: Lato;
    text-align: center;
    color: #323232;
    margin-right: auto;
    margin-left: auto;
    width: 290px;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 30px;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button__conteiner-one {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    flex-wrap: nowrap;
  }
}
.button__conteiner {
  cursor: pointer;
  @media screen and (min-width: 320px) {
    border: 1px solid black;
    width: 120px;
    display: flex;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 160px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }
}
.main__button {
  cursor: pointer;
  transition: all 0.5s;
  @media screen and (min-width: 320px) {
    border: none;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    height: 26px;
  }
  &:hover {
    background-color: #959595;
  }
}
.button__svg {
  @media screen and (min-width: 320px) {
    width: 20px;
    height: 15px;
  }
}
.count {
  @media screen and (min-width: 320px) {
    padding-top: 5px;
    padding-left: 10px;
  }
}
.button__p {
  @media screen and (min-width: 768px) {
  }
}

.section__conteiner {
  @media screen and (min-width: 1200px) {
    padding-top: 100px;
    display: flex;
    align-items: center;
    width: 1200px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
}

.section__h2 {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #8d81ac;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 35px;
    margin-top: 80px;
  }
  @media screen and (min-width: 768px) {
    width: 541px;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px;
    background-color: none;
  }
}
.section__image {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
    width: 735px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-bottom: 0px;
    width: 600px;
  }
}
.section__img {
  @media screen and (min-width: 320px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.section__img-one {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
}
.section__img-two {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.section__img-three {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}
.section__img-four {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}
.section__title-conteiner {
  @media screen and (min-width: 768px) {
    text-align: center;
    padding-left: 20px;
  }
  @media screen and (min-width: 1200px) {
  }
}
.section__title-text {
  @media screen and (min-width: 768px) {
    padding-right: 30px;
  }
}
.section__title {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #323232;
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 360px;
    text-align: start;
  }
}
.section__text {
  @media screen and (min-width: 320px) {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: Lato;
    text-align: center;
    color: #848e97;
    margin-left: 25px;
    width: 290px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    width: 530px;
    text-align: start;
    margin-left: 0px;
    margin-right: 70px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
.section__img-big {
  @media screen and (min-width: 320px) {
    width: 317px;
    height: 300px;
  }
  @media screen and (min-width: 768px) {
    width: 700px;
    height: 520px;
  }
  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 520px;
  }
}

.image__wrapper {
  @media screen and (min-width: 320px) {
    width: 317px;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1999px) {
    width: 700px;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 520px;
    height: 520px;
    padding-top: 40px;
    margin-left: 0px;
  }
}

.section__h2-wrapper {
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 590px;
    position: absolute;
  }
}
