.footer {
  @media screen and (min-width: 320px){
    padding-top: 20px;
    padding-bottom: 30px;
    background: radial-gradient(#7a5c5f, #4a3b4e);

  }
  @media screen and (min-width: 768px){
    padding-top: 80px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 115px;
  }
}

.footer__h2 {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 768px) {
    
    font-size: 40px;
    line-height: 45px;
  }
}
.footer__conteiner-item {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-top: 110px;
  }
}
.footer__item-card {
  width: 255px;
  &:hover {
    background: #3f2d42c0;
    transform: scale(1.1);
    box-shadow: 7px 10px 11px rgb(36, 36, 36);
    cursor: pointer;
    .footer__title {
      background: #3f2d42;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-left: 30px;
    margin-right: 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 260px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 10px;
    margin-right: 10px;
    height: 480px;
  }
}
.card__last {
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
}

.footer__text {
  @media screen and (min-width: 320px) {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 65px;
    margin-top: 40px;
  }
}

.footer__p-symbols {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.footer__span {
  @media screen and (min-width: 320px) {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.footer__title {
  @media screen and (min-width: 320px) {
    background: rgba(255, 255, 255, 0.09);

    height: 97px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
}
.footer__title-bg {
  @media screen and (min-width: 320px) {
    background: #463048;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__card {
  @media screen and (min-width: 320px) {
    background: rgba(255, 255, 255, 0.03);
    padding-top: 30px;
    height: 365px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
  @media screen and (min-width: 1200px) {
    height: 380px;
  }
}
.footer__card-bg {
  @media screen and (min-width: 320px) {
    background: #463048;
    opacity: 0.84;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.footer__price {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.footer__per-month {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #ffffff;
  }
}
.footer__line {
  @media screen and (min-width: 320px) {
    width: 60px;
    height: 5px;
    background: #8d81ac;
    margin-left: 100px;
    margin-bottom: 30px;
  }
}
.footer__line-size {
  @media screen and (min-width: 320px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__personal {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }
}
.footer__personal-size {
  @media screen and (min-width: 768px) {
    margin-bottom: 70px;
  }
}
.footer__purchase {
  @media screen and (min-width: 320px) {
    background: rgba(255, 255, 255, 0.15);
    width: 165px;
    height: 45px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 70px;
  }
}
.footer__purchase-h2 {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.footer__personal-p {
  @media screen and (min-width: 320px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
  }
}
