@import "header__burger.scss";
.button {
  font-weight: 700;
  background-color: $color1;
  border: 1px solid $color1;
  border-radius: 40px;
}
.header {
  max-width: 100%;

  background: url(../img/header/header_bg.png) center;

  // .header__conteiner

  &__conteiner {
    margin: 0 auto;
    max-width: 1200px;
  }

  //  // .header__nav

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0 20px;
    align-items: center;
    @media (max-width: 870px) {
      background-color: #27262a;
      padding-bottom: 45px;
    }
    @media (max-width: 550px) {
      //background-color: #27262a;
      padding-bottom: 30px;
    }
  }

  //  // .header__logo

  &__logo {
    display: flex;
    align-items: center;
  }

  //  // .header__logo-image

  //  // .header__logo-text

  //&__logo-image {
  //}

  &__logo-image-w {
    display: none;
  }
  &__chenge {
    @media (max-width: 550px) {
      margin-right: 25px;
    }

    &:hover {
      //background: #fff;
      .header__logo-image {
        display: none;
      }
      .header__logo-image-w {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  &__logo-text {
    @include flc(24, 16, $color1);
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    margin-left: 17px;
    transition: all 1s;
    cursor: pointer;
    &:hover {
      color: $color3;
    }
    @media (max-width: 550px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    column-gap: 47px;
    @media (max-width: 870px) {
      flex-direction: column;
    }
  }

  //  // .header__menu-box

  &__menu-box {
    display: flex;
    column-gap: 47px;
    @media (max-width: 870px) {
      transform: translateY(50px);
      max-width: 100%;
      position: absolute;
      right: calc(50% - 214px);
    }
    @media (max-width: 550px) {
      flex-direction: column;
      background-color: #333333;
      padding-bottom: 14px;

      transition: all 0.5s;
      transform: translate(calc(50% - 400px), 61px);
      opacity: 0;
    }
  }
  //  // .header__menu-link

  &__menu-link {
    @include flc(16, 15, $color1);
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
    @media (max-width: 550px) {
      @include flc(26, 26, $color3);

      padding: 29px 50px 21px 35px;

      padding-bottom: 21px;
      border-bottom: 1px solid $color1;
      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 53px;
        background-color: transparent;
        top: calc(50% - 26.5px);
        left: 0;
      }
      &:hover,
      &:active,
      &:focus {
        position: relative;
        color: $color1;
        &::before {
          background-color: $color1;
          transition: background-color 1.5s;
        }
      }
    }
  }

  // .header__menu-burger

  &__menu-burger {
    @media (max-width: 870px) {
      order: -1;
    }
  }

  //  // .header__menu-button
  &__menu-button {
    @include flc(16, 17, $color3);
    padding: 11px 40px;
    transition: all 1s;
    &:hover {
      background-color: #fff;
      color: $color1;
    }
    @media (max-width: 550px) {
      margin-right: 102px;
    }
    @media (max-width: 365px) {
      margin-right: 86px;
      padding: 11px 20px;
    }
  }

  .content {
    &__main {
      display: flex;
      flex-direction: column;
      color: #fff;
      align-items: center;
      row-gap: 19px;
      padding-bottom: 425px;
      padding-top: 113px;
      @media (max-width: 870px) {
        padding-top: 113px - 45px;
      }
    }

    &__title {
      @include flc(82, 82, $color3);
      @media (max-width: 870px) {
        @include flc(72, 72, $color3);
      }
      @media (max-width: 600px) {
        @include flc(48, 48, $color3);
      }
    }

    &__conteiner {
      display: flex;
      //padding: 0 10px 0 10px;
      column-gap: 7px;
      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    &__transcription {
      @include flc(30, 30, $color1);
      font-family: "Lato", sans-serif;

      @media (max-width: 870px) {
        @include flc(24, 24, $color1);
      }
      @media (max-width: 550px) {
        @include flc(18, 24, $color1);
        text-transform: capitalize;
      }
    }

    &__option {
      font-family: "Montserrat", sans-serif;
      @include flc(16, 16, $color2);
      @media (max-width: 870px) {
        @include flc(14, 14, $color2);
      }
      @media (max-width: 600px) {
        @include flc(18, 24, $color1);
        padding: 0 30px 0 30px;
      }
    }
  }

  &__footer {
    text-align: center;
    transform: translateY(68px);
    @media (max-width: 550px) {
      transform: translateY(43px);
    }
  }

  &__footer-button {
    @media (min-width: 551px) {
      @include flc(21, 22, $color3);
      padding: 23px 61px;
      display: inline-block;
      transition: all 1s;
      &:hover,
      &:active,
      &:focus {
        background-color: #fff;
        color: $color1;
      }
    }
    @media (max-width: 550px) {
      padding: 13px 29px;
      transition: padding 0.5s;
      @include flc(18, 20, $color3);
      &:hover,
      &:active,
      &:focus {
        padding: 15px 29px;
      }
    }
  }

  &__footer-text {
    @include flc(14, 15, $color2);
    margin-top: 19px;
  }
}
