.talking {
  font-family: Lato;
  background-image: url(../img/talking/talking-dg.png);

  background-size: cover;
  width: 100%;

  &__conteiner {
    text-align: center;
  }

  // .talking__title

  &__title {
    @include flc(48, 50, $color3);
    padding-top: 108px;

    @media (max-width: 900px) {
      @include flc(42, 44, $color3);
      padding: 85px 20px;
    }
    @media (max-width: 500px) {
      padding: 57px 20px 53px 20px;
      @include flc(36, 48, $color3);
    }
  }

  // .talking__content

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 81px 0 118px 0;
    gap: 111px 90px;
    padding: 0 10px;
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 58px 83px;
      margin: 0 0 68px 0;
      :nth-child(4) {
        padding-top: 22px;
        > p {
          padding-top: 47px;
        }
      }
    }

    @media (max-width: 600px) {
      grid-template-columns: minmax(287px, 350px);
      margin: 0 16px 37px 16px;
      justify-content: center;
    }
  }

  // .talking__link

  //  &__link {
  //  }

  // .talking__img

  //&__img {
  //}

  // .talking__text

  &__text {
    @include flc(16, 24, $color3);
    font-style: italic;
    font-weight: 700;
    padding-top: 29px;
  }

  &__footer {
    width: 888px;
    margin: 0 auto;
    @media (max-width: 900px) {
      width: 704px;
      padding: 0;
    }
    @media (max-width: 720px) {
      width: 560px;
    }
    @media (max-width: 600px) {
      width: 400px;
    }
    @media (max-width: 400px) {
      width: 251px;
    }
  }
  &__footer-text {
    @include flc(14, 21, #a291a5);
    position: relative;
    padding-bottom: 12px;
    &:after {
      position: absolute;
      content: "";
      width: 760px;
      height: 2px;
      background-color: #645766;
      left: calc(50% - 380px);
      top: 53px;
    }
    @media (max-width: 900px) {
      &:after {
        position: absolute;
        content: "";
        width: 555px;
        height: 2px;
        background-color: #645766;
        left: calc(50% - 277px);
        top: 74px;
      }
    }
    @media (max-width: 600px) {
      &:after {
        width: 400px;
        left: calc(50% - 200px);
        top: 119px;
      }
    }
    @media (max-width: 400px) {
      &:after {
        width: 245px;
        left: calc(50% - 122px);
        top: 158px;
      }
    }
  }
}
