.burger-menu-button {
  position: absolute;
  top: 33px;
  right: 20px;
  width: 44px;
  height: 37px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  @media (min-width: 550px) {
    display: none;
  }
}
.burger-menu-lines::before,
.burger-menu-lines::after,
.burger-menu-lines {
  position: absolute;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu-lines {
  width: 26px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu-lines::before {
  content: "";
  width: 13px;
  right: 0;
  top: -9px;
}
.burger-menu-lines::after {
  content: "";
  width: 26px;
  top: 9px;
}
.burger-menu-active .burger-menu-button {
  right: 30px;
}
.burger-menu-active .burger-menu-lines {
  //top: 0;
  transform: rotate(45deg);
  left: 50%;
}
.burger-menu-active .burger-menu-lines::before {
  background-color: transparent;
}
.burger-menu-active .burger-menu-lines::after {
  top: 0;
  transform: rotate(-92deg);
}
