$color1: #8d81ac;
$color2: #848e97;
$color3: #fff;
$color4: #323232;

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
@mixin flc($size, $line, $color) {
  font-size: $size + px;
  line-height: $line + px;
  color: $color;
}
