html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.burger-menu-button {
  position: absolute;
  top: 33px;
  right: 20px;
  width: 44px;
  height: 37px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

@media (min-width: 550px) {
  .burger-menu-button {
    display: none;
  }
}

.burger-menu-lines::before,
.burger-menu-lines::after,
.burger-menu-lines {
  position: absolute;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu-lines {
  width: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger-menu-lines::before {
  content: "";
  width: 13px;
  right: 0;
  top: -9px;
}

.burger-menu-lines::after {
  content: "";
  width: 26px;
  top: 9px;
}

.burger-menu-active .burger-menu-button {
  right: 30px;
}

.burger-menu-active .burger-menu-lines {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 50%;
}

.burger-menu-active .burger-menu-lines::before {
  background-color: transparent;
}

.burger-menu-active .burger-menu-lines::after {
  top: 0;
  -webkit-transform: rotate(-92deg);
          transform: rotate(-92deg);
}

.button {
  font-weight: 700;
  background-color: #8d81ac;
  border: 1px solid #8d81ac;
  border-radius: 40px;
}

.header {
  max-width: 100%;
  background: url(../img/header/header_bg.png) center;
}

.header__conteiner {
  margin: 0 auto;
  max-width: 1200px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 870px) {
  .header__nav {
    background-color: #27262a;
    padding-bottom: 45px;
  }
}

@media (max-width: 550px) {
  .header__nav {
    padding-bottom: 30px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-image-w {
  display: none;
}

@media (max-width: 550px) {
  .header__chenge {
    margin-right: 25px;
  }
}

.header__chenge:hover .header__logo-image {
  display: none;
}

.header__chenge:hover .header__logo-image-w {
  display: inline-block;
  cursor: pointer;
}

.header__logo-text {
  font-size: 24px;
  line-height: 16px;
  color: #8d81ac;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-left: 17px;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.header__logo-text:hover {
  color: #fff;
}

@media (max-width: 550px) {
  .header__logo-text {
    display: none;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 47px;
          column-gap: 47px;
}

@media (max-width: 870px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 47px;
          column-gap: 47px;
}

@media (max-width: 870px) {
  .header__menu-box {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    max-width: 100%;
    position: absolute;
    right: calc(50% - 214px);
  }
}

@media (max-width: 550px) {
  .header__menu-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #333333;
    padding-bottom: 14px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(calc(50% - 400px), 61px);
            transform: translate(calc(50% - 400px), 61px);
    opacity: 0;
  }
}

.header__menu-link {
  font-size: 16px;
  line-height: 15px;
  color: #8d81ac;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.header__menu-link:hover {
  color: #fff;
}

@media (max-width: 550px) {
  .header__menu-link {
    font-size: 26px;
    line-height: 26px;
    color: #fff;
    padding: 29px 50px 21px 35px;
    padding-bottom: 21px;
    border-bottom: 1px solid #8d81ac;
  }
  .header__menu-link::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 53px;
    background-color: transparent;
    top: calc(50% - 26.5px);
    left: 0;
  }
  .header__menu-link:hover, .header__menu-link:active, .header__menu-link:focus {
    position: relative;
    color: #8d81ac;
  }
  .header__menu-link:hover::before, .header__menu-link:active::before, .header__menu-link:focus::before {
    background-color: #8d81ac;
    -webkit-transition: background-color 1.5s;
    transition: background-color 1.5s;
  }
}

@media (max-width: 870px) {
  .header__menu-burger {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.header__menu-button {
  font-size: 16px;
  line-height: 17px;
  color: #fff;
  padding: 11px 40px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__menu-button:hover {
  background-color: #fff;
  color: #8d81ac;
}

@media (max-width: 550px) {
  .header__menu-button {
    margin-right: 102px;
  }
}

.header .content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 19px;
  padding-bottom: 425px;
  padding-top: 113px;
}

@media (max-width: 870px) {
  .header .content__main {
    padding-top: 68px;
  }
}

.header .content__title {
  font-size: 82px;
  line-height: 82px;
  color: #fff;
}

@media (max-width: 870px) {
  .header .content__title {
    font-size: 72px;
    line-height: 72px;
    color: #fff;
  }
}

@media (max-width: 600px) {
  .header .content__title {
    font-size: 48px;
    line-height: 48px;
    color: #fff;
  }
}

.header .content__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
          column-gap: 7px;
}

@media (max-width: 600px) {
  .header .content__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .content__transcription {
  font-size: 30px;
  line-height: 30px;
  color: #8d81ac;
  font-family: "Lato", sans-serif;
}

@media (max-width: 870px) {
  .header .content__transcription {
    font-size: 24px;
    line-height: 24px;
    color: #8d81ac;
  }
}

@media (max-width: 550px) {
  .header .content__transcription {
    font-size: 18px;
    line-height: 24px;
    color: #8d81ac;
    text-transform: capitalize;
  }
}

.header .content__option {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #848e97;
}

@media (max-width: 870px) {
  .header .content__option {
    font-size: 14px;
    line-height: 14px;
    color: #848e97;
  }
}

@media (max-width: 600px) {
  .header .content__option {
    font-size: 18px;
    line-height: 24px;
    color: #8d81ac;
    padding: 0 30px 0 30px;
  }
}

.header__footer {
  text-align: center;
  -webkit-transform: translateY(68px);
          transform: translateY(68px);
}

@media (max-width: 550px) {
  .header__footer {
    -webkit-transform: translateY(43px);
            transform: translateY(43px);
  }
}

@media (min-width: 551px) {
  .header__footer-button {
    font-size: 21px;
    line-height: 22px;
    color: #fff;
    padding: 23px 61px;
    display: inline-block;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .header__footer-button:hover, .header__footer-button:active, .header__footer-button:focus {
    background-color: #fff;
    color: #8d81ac;
  }
}

@media (max-width: 550px) {
  .header__footer-button {
    padding: 13px 29px;
    -webkit-transition: padding 0.5s;
    transition: padding 0.5s;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
  }
  .header__footer-button:hover, .header__footer-button:active, .header__footer-button:focus {
    padding: 15px 29px;
  }
}

.header__footer-text {
  font-size: 14px;
  line-height: 15px;
  color: #848e97;
  margin-top: 19px;
}

@media screen and (min-width: 1200px) {
  .section {
    background-color: #F4F4F4;
  }
}

@media screen and (min-width: 320px) {
  .main__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #635c73;
    margin-bottom: 30px;
    margin-top: 120px;
  }
}

@media screen and (min-width: 768px) {
  .main__title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .main__title {
    font-size: 55px;
    line-height: 55px;
  }
}

@media screen and (min-width: 320px) {
  .main__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: Lato;
    text-align: center;
    color: #323232;
    margin-right: auto;
    margin-left: auto;
    width: 290px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .main__text {
    font-size: 20px;
    line-height: 30px;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .main__text {
    font-size: 20px;
    line-height: 30px;
    width: 845px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) {
  .button__conteiner-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .button__conteiner-one {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.button__conteiner {
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .button__conteiner {
    border: 1px solid black;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .button__conteiner {
    margin-bottom: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .button__conteiner {
    margin-bottom: 70px;
  }
}

.main__button {
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .main__button {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px solid black;
    height: 26px;
  }
}

@media screen and (min-width: 320px) {
  .button__svg {
    width: 20px;
    height: 15px;
  }
}

@media screen and (min-width: 320px) {
  .count {
    padding-top: 5px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .section__conteiner {
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
    padding-bottom: 40px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) {
  .section__h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #8d81ac;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 35px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .section__h2 {
    width: 541px;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section__h2 {
    margin: 0px;
    background-color: none;
  }
}

@media screen and (min-width: 768px) {
  .section__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 55px;
    width: 735px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__image {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0px;
    width: 600px;
  }
}

@media screen and (min-width: 320px) {
  .section__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__img {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .section__img-one {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__img-two {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section__img-three {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .section__img-four {
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .section__title-conteiner {
    text-align: center;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section__title-text {
    padding-right: 30px;
  }
}

@media screen and (min-width: 320px) {
  .section__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    color: #323232;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .section__title {
    width: 360px;
    text-align: start;
  }
}

@media screen and (min-width: 320px) {
  .section__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: Lato;
    text-align: center;
    color: #848e97;
    margin-left: 25px;
    width: 290px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .section__text {
    width: 530px;
    text-align: start;
    margin-left: 0px;
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .section__text {
    width: 370px;
  }
}

@media screen and (min-width: 320px) {
  .section__img-big {
    width: 317px;
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .section__img-big {
    width: 700px;
    height: 520px;
  }
}

@media screen and (min-width: 1200px) {
  .section__img-big {
    width: 600px;
    height: 520px;
  }
}

@media screen and (min-width: 320px) {
  .image__wrapper {
    width: 317px;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .image__wrapper {
    width: 700px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .image__wrapper {
    width: 520px;
    height: 520px;
    padding-top: 40px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .section__h2-wrapper {
    width: 1200px;
    padding-left: 590px;
    position: absolute;
  }
}

.talking {
  font-family: Lato;
  background-image: url(../img/talking/talking-dg.png);
  background-size: cover;
  width: 100%;
}

.talking__conteiner {
  text-align: center;
}

.talking__title {
  font-size: 48px;
  line-height: 50px;
  color: #fff;
  padding-top: 108px;
}

@media (max-width: 900px) {
  .talking__title {
    font-size: 42px;
    line-height: 44px;
    color: #fff;
    padding: 85px 20px;
  }
}

@media (max-width: 500px) {
  .talking__title {
    padding: 57px 20px 53px 20px;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
  }
}

.talking__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 81px 0 118px 0;
  gap: 111px 90px;
  padding: 0 10px;
}

@media (max-width: 900px) {
  .talking__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 58px 83px;
    margin: 0 0 68px 0;
  }
  .talking__content :nth-child(4) {
    padding-top: 22px;
  }
  .talking__content :nth-child(4) > p {
    padding-top: 47px;
  }
}

@media (max-width: 600px) {
  .talking__content {
    -ms-grid-columns: minmax(287px, 350px);
        grid-template-columns: minmax(287px, 350px);
    margin: 0 16px 37px 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.talking__text {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  padding-top: 29px;
}

.talking__footer {
  width: 888px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .talking__footer {
    width: 704px;
    padding: 0;
  }
}

@media (max-width: 720px) {
  .talking__footer {
    width: 560px;
  }
}

@media (max-width: 600px) {
  .talking__footer {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .talking__footer {
    width: 251px;
  }
}

.talking__footer-text {
  font-size: 14px;
  line-height: 21px;
  color: #a291a5;
  position: relative;
  padding-bottom: 12px;
}

.talking__footer-text:after {
  position: absolute;
  content: "";
  width: 760px;
  height: 2px;
  background-color: #645766;
  left: calc(50% - 380px);
  top: 53px;
}

@media (max-width: 900px) {
  .talking__footer-text:after {
    position: absolute;
    content: "";
    width: 555px;
    height: 2px;
    background-color: #645766;
    left: calc(50% - 277px);
    top: 74px;
  }
}

@media (max-width: 600px) {
  .talking__footer-text:after {
    width: 400px;
    left: calc(50% - 200px);
    top: 119px;
  }
}

@media (max-width: 400px) {
  .talking__footer-text:after {
    width: 245px;
    left: calc(50% - 122px);
    top: 158px;
  }
}

@media screen and (min-width: 320px) {
  .footer {
    padding-bottom: 30px;
    background: radial-gradient(#7a5c5f, #4a3b4e);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 115px;
  }
}

@media screen and (min-width: 320px) {
  .footer__h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .footer__h2 {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__conteiner-item {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__conteiner-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__conteiner-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 110px;
  }
}

.footer__item-card {
  width: 255px;
}

.footer__item-card:hover {
  background: #3f2d42c0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 7px 10px 11px #242424;
          box-shadow: 7px 10px 11px #242424;
  cursor: pointer;
}

.footer__item-card:hover .footer__title {
  background: #3f2d42;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__item-card {
    margin-left: 30px;
    margin-right: 30px;
  }
  .footer__item-card:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item-card {
    width: 260px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item-card {
    margin-left: 10px;
    margin-right: 10px;
    height: 480px;
  }
}

@media screen and (min-width: 768px) {
  .card__last {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 320px) {
  .footer__text {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 65px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 320px) {
  .footer__p-symbols {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .footer__span {
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .footer__title {
    background: rgba(255, 255, 255, 0.09);
    height: 97px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin-left: 0px;
  }
}

@media screen and (min-width: 320px) {
  .footer__title-bg {
    background: #463048;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) {
  .footer__card {
    background: rgba(255, 255, 255, 0.03);
    padding-top: 30px;
    height: 365px;
  }
}

@media screen and (min-width: 768px) {
  .footer__card {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__card {
    height: 380px;
  }
}

@media screen and (min-width: 320px) {
  .footer__card-bg {
    background: #463048;
    opacity: 0.84;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) {
  .footer__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 320px) {
  .footer__per-month {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .footer__line {
    width: 60px;
    height: 5px;
    background: #8d81ac;
    margin-left: 100px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) {
  .footer__line-size {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) {
  .footer__personal {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer__personal-size {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 320px) {
  .footer__purchase {
    background: rgba(255, 255, 255, 0.15);
    width: 165px;
    height: 45px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 320px) {
  .footer__purchase-h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .footer__personal-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */