<footer class="footer">
      <h2 class="footer__h2">Fork Subscription Pricing</h2>
      <div class="footer__conteiner-item">
        <div class="footer__item-card">
      <div class="footer__div">
      <div class="footer__title"><span class="footer__text">Students</span></div>
    </div>
    <div class="footer__card">
      <div class="footer__price">
      <p class="footer__p-symbols">&#36</p>
      <span class="footer__span">29</span>
    </div>
      <p class="footer__per-month">per month</p>
      <div class="footer__line"></div>
      <p class="footer__personal footer__personal-size">Personal License</p>
      <div class="footer__purchase">
        <h2 class="footer__purchase-h2">purchase</h2>
      </div>
    </div>
  </div>
  <div class="footer__item-card">
    <div class="footer__div">
      <div class="footer__title"><span class="footer__text">professional</span></div>
    </div>
    <div class="footer__card">
      <div class="footer__price">
      <p class="footer__p-symbols">&#36</p>
      <span class="footer__span">59</span>
    </div>
      <p class="footer__per-month">per month</p>
      <div class="footer__line"></div>
      <p class="footer__personal">Professional License</p>
      <p class="footer__personal-p">Email Support</p>
      <div class="footer__purchase">
        <h2 class="footer__purchase-h2">purchase</h2>
      </div>
    </div>
  </div>
  <div class="footer__item-card card__last"> 
    <div class="footer__div">
      <div class="footer__title"><span class="footer__text ">agency</span></div>
    </div>
    <div class="footer__card">
      <div class="footer__price">
      <p class="footer__p-symbols">&#36</p>
      <span class="footer__span">99</span>
    </div>
      <p class="footer__per-month">per month</p>
      <div class="footer__line"></div>
      <p class="footer__personal">1-12 Team Members</p>
      <p class="footer__personal-p">Phone Support</p>
      <div class="footer__purchase">
        <h2 class="footer__purchase-h2">purchase</h2>
      </div>
    </div>
  </div>
  <div class="footer__item-card card__last">
    <div class="footer__div">
      <div class="footer__title"><span class="footer__text">enterprise</span></div>
    </div>
    <div class="footer__card ">
      <div class="footer__price">
      <p class="footer__p-symbols">&#36</p>
      <span class="footer__span">159</span>
    </div>
      <p class="footer__per-month">per month</p>
      <div class="footer__line"></div>
      <p class="footer__personal">Unlimited Team Members</p>
      <p class="footer__personal-p">24/ 7 Phone Support</p>
      <div class="footer__purchase">
        <h2 class="footer__purchase-h2">purchase</h2>
      </div>
      </div>
    </div>
    </div>
  
  </footer>