<header class="header">
	<div class="header__conteiner">
		<div class="header__nav">
			<div class="header__logo">
				<div class="header__chenge">
					<img src="./img/header/header_logo.png" alt="" class="header__logo-image">
					<img src="./img/header/header_logo-w.png" alt="" class="header__logo-image-w">
				</div>
				<span class="header__logo-text">forkio</span>
			</div>
			<menu class="header__menu">
				<ul class="header__menu-box ">
					<li class="header__menu-link">Overview</li>
					<li class="header__menu-link">About Fork</li>
					<li class="header__menu-link">Buying Options</li>
					<li class="header__menu-link">Support</li>
				</ul>
				<div class="header__menu-burger">
					<a href="" class="header__menu-button button">Buy Now</a>
					<div class="burger-menu">
						<spam href="" class="burger-menu-button">
						  <spun class="burger-menu-lines"></spun>
						</spam>
					</div>
				</div>

			</menu>
		</div>
		<div class="header__content content__main">
			<hi class="content__title title">Fork App</hi>
			<div class="content__conteiner">
				<p class="content__transcription">A real gamechanger in the </p>
				<span class="content__transcription"> world of web development </span> 
			</div>
			
			<p class="content__option">v. 2.8 For Mac and Windows</p>
		</div>
		<div class="header__footer">
			<a href="" class="header__footer-button button">Download For Free Now</a>
			<p class="header__footer-text">Unlimited 30-Days Trial Period</p>
		</div>
	</div>
</header>
