<section class="talking">
	<div class="talking__conteiner conteiner">
		<h3 class="talking__title title">
			People Are Talking About Fork
		</h3>
		<ul class="talking__content ">
			<li class="talking__link">
				<img src="./img/talking/talking-smashing.png" alt="" class="talking__img">
				<p class="talking__text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
			</li>
			<li class="talking__link">
				<img src="./img/talking/talking-codrops.png" alt="" class="talking__img">
				<p class="talking__text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh. </p>
			</li>
			<li class="talking__link">
				<img src="./img/talking/talking-w.png" alt="" class="talking__img">
				<p class="talking__text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.  </p>
			</li>
			<li class="talking__link">
				<img src="./img/talking/pixel.png" alt="" class="talking__img">
				<p class="talking__text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.  </p>
			</li>
			<li class="talking__link">
				<img src="./img/talking/talking-CB.png" alt="" class="talking__img">
				<p class="talking__text">
					Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.  
				</p>
			</li>
			<li class="talking__link">
				<img src="./img/talking/talking-tnw.png" alt="" class="talking__img">
				<p class="talking__text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.  </p>
			</li>
		</ul>
		<div class="talking__footer">
			<p class="talking__footer-text">
				Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
			</p>
		</div>
	</div>
</section>